body
{
	margin: 0;
	padding: 0;
	font-family: Segoe UI;
}
.nav{
  position: fixed;
}
.table1
{
	font-family:Segoe UI;  
	background-color: rgb(49, 109, 195);
	padding: 0.7%;
	width: 100%;
}
button
{
	padding: 1% 2%;
	color:#488101;
  cursor: pointer;
  border-radius: 5px;
  border: none;
	

}
.table1 td
{
	color: white;
}
.social img
{

	margin-left: 2%;
	
}
.icon :hover{
	background-color: rgb(109, 194, 233);
	border-radius: 34px;
	
}
.doner :hover{
	background-color: rgb(68, 129, 214);
	transition: 0.6s;
	border: none;
  color: honeydew;
  
	

}
.table2
{
	font-family:Segoe UI;  
	background-color: rgb(255, 249, 249);
	padding: 0.7%;
	width: 100%;
	
}
.dropbtn1
{
  background-color: rgb(49, 109, 195);
  color: white;
  padding: 9px 18px;
  font-size: 13px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
	position: relative;
	display: inline-block;
  
  }
  .dropbtn 
{
  background-color: rgb(242, 242, 242);
  color: black;
  padding: 9px 13px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.dropdown-content 
{
  
  font-size: 13px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 170%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	
  }
  .dropdown-content a:hover 
  {
	  transition: 0.6s;
	  background-color: rgb(49, 109, 195);
	  color:white;
  
  }
  .dropdown:hover .dropdown-content {
	display: block;
  
  }
  .dropdown:hover .dropbtn 
{
  transition: 0.8s;
  background-color: rgb(49, 109, 195);
  color: white;
  padding: 9px 13px;
  border-radius: 20px;

}
.p{
  margin: 1% 8%;
  font-size: 17px;
}
.text-primary{
  color: #4c5ec5;
  font-family: Verdana ;

  font-size: 40px;

}
.text-success{
  color: #279212;
  font-family: Verdana ;

  font-size: 40px;
}
.tab3
{
	width: 100%;
	background-color: rgb(49, 109, 195);
	color: white;
	padding: 5%;
	font-family: "Times New Roman";
	font-size: 25px;
	text-align: center;
}
.dtl
{
	font-size: 18px;
}
.amnt
{
	font-size: 50px;
}
.tab4
{
	color: rgb(49, 109, 195);
	width: 100%;	
	padding: 5%;
	font-family: "Times New Roman";
	font-size: 25px;
	text-align: center;
}
.tab4 td
{

	width: 5%;
	border: 1px solid white;
	padding: 3% 2%;
	margin: 5% 5%;
	box-shadow: 0px 2px 8px 5px rgb(215, 219, 221);
  background-color: rgb(255, 255, 255);
  font-family: Verdana;
  cursor: pointer;

}
.tab4 td:hover
{
	transition: 0.7s;
  transform: scale(1.1);
  background-color: rgb(220, 226, 226);

}
.tab4
{
  background-color: rgb(243, 242, 241);
	border-collapse: separate;
    border-spacing: 50px 50px;
}
.div
{
	background-color: rgb(242, 242, 242);
}
.tab5
{
	color: rgb(49, 109, 195);
	width: 100%;	
	padding: 5%;
	font-family: "Times New Roman";
	font-size: 25px;

}
.tab5
{
	border-collapse: separate;
    border-spacing: 30px 30px;		
    font-weight: bold;

}
.rw
{

	border:1px solid rgb(215, 219, 221);
	width: 20%;
	padding: 2% 2%;
	font-family: "verdana";
	font-size: 15px;
	text-align: left;
	background-color: rgb(242, 242, 242);
	font-weight: bold;
	box-shadow: 0px 2px 8px 5px rgb(215, 219, 221);
}
.rw:hover
{
	transition: 0.7s;
  transform: scale(1.1);
  cursor: pointer;
}
.evnt
{
  font-family: verdana;
	    font-weight: normal;
	width: 30%;
	font-size: 16px;
	padding: 0% 10% 2% 0%;
	text-align: justify;
	color: black;
}
.space
{
	padding: 2% 15%;
}
.tab6
{
	width: 100%;
}
.tab6 td:hover
{
	transition: 0.6s;
	opacity: 0.1;
	transform: scale(1.2);
}
.div3
{
	padding: 3% 7%;
	background-color: rgb(37, 39, 46);
	color: white;
}
.social1 img
{	
	padding: 2% 2%;
	background-color: rgb(49, 109, 217);
	border-radius: 50%;
}
.footerline
{
	text-align: center;
	background-color: rgb(49, 109, 217);
	color: white;
	padding: 1% 1%;
	
}
.footerline2
{
	text-align: center;
	background-color: rgb(8, 22, 49);
	color: white;
	padding: 1% 1%;
	
}
.footerline2:hover{
  background-color:  rgb(29, 72, 153);
  cursor: pointer;
 
}